export(psf)
export(psf_plot)
import("data.table")
importFrom("cluster", "silhouette")
importFrom("graphics", "plot", "points")
importFrom("stats", "dist", "frequency", "is.ts", "kmeans", "start",
           "time", "ts", "window")
